.leftColFooter {
  border-top: 2px solid black;
}
.rightColFooter {
  border-top: 2px solid black;
}
.footerLogo {
  font-size: 40px !important;
  margin-top: -30px;
}
.privacyPolicyRow {
  margin-top: 100px !important;
}
.footer{
  margin-top: 100px;
}
.footerText {
  font-weight: 500;
}
.socialMediaBtn {
  font-size: 35px;
}
.borderCol {
  border-right: 2px solid black;
  height: 90px;
  margin-top: 60px;
}
.shippingInfoRow {
  margin-top: 100px !important;
}
.weekleyNewsletterText {
  font-size: 20px;
  font-weight: 500;
  margin-top: 40px;
}
.emailSubscriptionInput {
  letter-spacing: 2px;
  width:100% !important;
 margin-left: 21px;
 margin-right: 1px;
  height: 65px;
  border: 2px solid black;
  text-align: center;
  font-weight: 500;
}
.subscribeBtn {
 width:100% !important;
 margin-left: 21px;
 margin-right: 1px;
  letter-spacing: 2px;
  width: 100%;
  height: 65px;
  border: 2px solid black;
  border-top: 0px solid white;
  background-color: white;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .leftColFooter,
  .rightColFooter,
  .alignCol {
    display: none;
  }
  .weekleyNewsletterText {
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 5px;
  }
  .emailSubscriptionInput{
    border:none !important
  }
  .subscribeBtn{
    border:none !important
  }
  .borderCol {
    border: none;
    height: 0px;
  }
}
.copyright{
    margin-top: 90px;
    margin-bottom: 70px;
    letter-spacing: 2px;
    font-weight: 500;
}