.miniMarket {
  height: 564px;
  width: 660px;
  position: absolute;
  right: 0;
  background: rgb(251, 248, 240);
  transition: ease-in-out 1s;
  background: linear-gradient(
    90deg,
    rgba(251, 248, 240, 1) 0%,
    rgba(229, 214, 199, 1) 8%,
    rgba(229, 214, 199, 1) 21%,
    rgba(193, 167, 147, 1) 52%,
    rgba(197, 179, 160, 1) 90%
  );
}
.homePageContainer{
  height:600px;
  background-color: #F7F7F7;
}
.closedMiniMarket {
 
  height: 564px;
  width: 0px;
  position: absolute;
  right: 0;
  background: rgb(251, 248, 240);
  transition: ease-in-out 1s;
  background: linear-gradient(
    90deg,
    rgba(251, 248, 240, 1) 0%,
    rgba(229, 214, 199, 1) 8%,
    rgba(229, 214, 199, 1) 21%,
    rgba(193, 167, 147, 1) 52%,
    rgba(197, 179, 160, 1) 90%
  );
 
}
.codeBEIGE2{
    display: none
}
.bathroomRow2{
    margin-top: 100px;
    margin-bottom:1000px
}
.bathroomRow{
    margin-top: 50px;
  }
  
  .headingText{
   font-size:70px;
   margin-bottom: 175px;
   z-index: 100 !important;
   margin-top: 100px;
   margin-right: -300px;
   margin-left: 34px;
  }
  
  
  .bathroomImage2{
    width: 1000px;
     /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  }
  .homePageAdImg{
      opacity:0.5;
      border-radius:10px;
      transition:ease-in-out 0.4s;
     
  }
  .homePageAdImg:hover{
    opacity:1;
    border-radius:10px;
    transition:ease-in-out 0.4s
}
.codeBEIGE{
    color:white;
    font-size:40px!important;
}