.navbarText {
  color: #2a5675 !important;
}

.logoText {
  font-size: 50px;
  margin-top: 12px;
}
.navText {
  letter-spacing: 1.35px;
  color: gray;
  margin-top:17px !important;
  font-size: 22px;
  margin-bottom: -100px;margin-right:25px;
}

.helloGreeting{
  margin-top: 37px;
  margin-left: 35px;
}
.searchForm {
  height: 30px !important;;
  margin-top: 35px !important;;
  margin-bottom: -100px !important;;
}
.catNav {
  height: 0px;
  transition: ease-in-out 0.3s;
  display:none;
}
@media screen and (max-width: 765px) {
  .searchForm{
    display: none
  }
  .navText{
    display: none
  }
  .logoText{
    display: none
  }
  .helloGreeting{
    display: none;
  }
}
.categoryNavbar {
  position: absolute;
  z-index: 10;
  margin-top: 65px;
  width: 180px;
  margin-left: 30px;
  background-color: whitesmoke;
}
.logo{
  width:160px;
  height:90px
}