.modalImg{
    position: absolute;
    top:0
}

.ratingRow{
    width: 220px;
}
.commentUser{
    margin-left: 3px;
    font-size: 14px;
    font-size:15px !important;
    margin-top: 5px !important;
}
.col2{
    margin-left: -15px;
}
.editComment{
    color:#9B870C;
    margin-left: 10px;
}
.editCommentBtn{
    width:100%;
    margin: -15px;
    border:1px solid lightgray;
    background-color:darkgreen;
    color:white;
    font-size: 13.5px;
    height:40px;
    margin-top: 5px;
}
.cancleEdit{
    width:100%;
    margin: -15px;
    border:1px solid lightgray;
    background-color:darkred;
    color:white;
    font-size: 13.5px;
    height:40px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.date{
    font-size:13px !important;
    margin-top:-2px;
    margin-left: 10px !important;
    color:gray
}
.commentText2{
    font-size: 13.5px;
    width:100%
}
.commentTitle{
    margin-top: -10px;
   
}
.mainCommentRow{
    border-top: 0.5px dashed lightgray;
    padding-top: 20px;
    width: 100% !important;
    margin-top: 20px;
}
.imageComment{
    background-color: #E9E9E9;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    color:black;
    text-align: center;
    padding-top: 12px;
    padding-right: 1px;
    font-size:13px
}
.buyBtn{
    width: 100%;
}
.productContainer1{
    margin-bottom: 200px !important;
}
.deleteComment{
    margin-left: 20px;
    color:darkred
}
.brandImg{
    width: 90px;
margin-top: -10px;
}
.headingContainer{
    font-family: "Kiwi Maru", serif;
  font-size: 30px;
  margin-top: -10px;
}
.price{
    font-size: 20px;
    margin-top:-3px;
}
.seeReviews2 {
    background-color: #005AAA;
    margin-right: 15px;
}
.titleInput{
    width: 100%;
    border:1px solid lightgray;
    height: 37px;

}

.changeDone{
    font-size:35px;
    color:green
}
.reviewTitleInputEdit{
    width:300px;
    border:1px solid lightgray;
}
.reviewInput{
    width: 100%;
    border:1px solid lightgray;
    height: 150px;
}
.reviewInputEdit{
    width: 100%;
    border:1px solid lightgray;
    height: 120px;
    margin-left: -15px;
}
.addCommentBtn{
    margin-top: 10px;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    height: 45px;
    background-color: #514343;
    font-size: 14px;
    margin-bottom: 10px;
}
.commentSection{
    margin-top: -180px;
}
.star{
    color:gold
}
.star4:hover ~ .star5  {
    
    color: gray;
}
.star3:hover ~ .star5  {
    
    color: gray;
}
.star3:hover ~ .star4  {
    
    color: gray;
}
.star2:hover ~ .star3  {
    
    color: gray;
}
.star2:hover ~ .star4  {
    
    color: gray;
}
.star2:hover ~ .star5  {
    
    color: gray;
}
.star1:hover ~ .star2  {
    
    color: gray;
}
.star1:hover ~ .star3  {
    
    color: gray;
}
.star1:hover ~ .star4  {
    
    color: gray;
}
.star1:hover ~ .star5  {
    
    color: gray;
}
.star1:hover ~ .star5  {
    
    color: gray;
}
